.container.chat .squareRed {
  position: absolute;
  top: 107px;
  left: 521px;
  width: 100px;
  height: 100px;
  background-color: #ff6666;
  transform: rotate(45deg);
  transition: all 1s ease;
}

.container.chat .triangleGreen {
  position: absolute;
  bottom: 409px;
  left: 533px;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #33cc66;
  transform: rotate(90deg);
  transition: all 1s ease;
}

.container.chat .triangleYellow {
  position: absolute;
  top: 392px;
  right: 458px;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-top: 200px solid #ffcc00;
  transform: rotate(90deg);
  transition: all 1s ease;
}

.container.chat .triangleBlue {
  position: absolute;
  top: 37px;
  left: 449px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #3399ff;
  transform: rotate(-45deg);
  transition: all 1s ease;
}

.container.chat .triangleOrange {
  position: absolute;
  top: 37px;
  left: 593px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #ff9933;
  transform: rotate(135deg);
  transition: all 1s ease;
}

.container.chat .trapezePurple {
  position: absolute;
  top: 483px;
  left: 797px;
  width: 87px;
  height: 109px;
  background-color: #6666cc;
  transform: skewX(-45deg) rotate(0deg);
  transition: all 1s ease;
}

.container.chat .triangleLime {
  position: absolute;
  top: 317px;
  left: 560px;
  bottom: 200px;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 150px solid #99c339;
  transform: rotate(135deg);
  transition: all 1s ease;
}

.container.chat.active .squareRed {
  transform: rotate(180deg) scale(1.2);
}

.container.chat.active .triangleGreen {
  transform: rotate(270deg) scale(1.2);
}

.container.chat.active .triangleYellow {
  transform: rotate(180deg) scale(1.2);
}

.container.chat.active .triangleBlue {
  transform: rotate(-135deg) scale(1.2);
}

.container.chat.active .triangleOrange {
  transform: rotate(225deg) scale(1.2);
}

.container.chat.active .trapezePurple {
  transform: skewX(-45deg) rotate(45deg);
}

.container.chat.active .triangleLime {
  transform: rotate(225deg) scale(1.2);
}
