.container.canard {
  position: relative;
}

.container.canard .squareRed {
  transform: rotate(45deg);
  position: absolute;
  top: 31.2%; /* 41.2% - 10% */
  left: 58.3%; /* 63.3% - 5% */
  width: 100px;
  height: 100px;
  background-color: #ff6666;
  transition: all 1s ease;
}

.container.canard .triangleGreen {
  position: absolute;
  bottom: 27.7%; /* 17.7% + 10% */
  left: 40%; /* 45% - 5% */
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #33cc66;
  transition: all 1s ease;
}

.container.canard .triangleYellow {
  transform: rotate(135deg);
  position: absolute;
  top: 35%; /* 45% - 10% */
  right: 47%; /* 42% + 5% */
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-top: 200px solid #ffcc00;
  transition: all 1s ease;
}

.container.canard .triangleBlue {
  transform: rotate(225deg);
  position: absolute;
  bottom: 12.6%; /* 2.6% + 10% */
  left: 45%; /* 50% - 5% */
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #3399ff;
  transition: all 1s ease;
}

.container.canard .triangleOrange {
  transform: rotate(225deg);
  position: absolute;
  top: 40%; /* 50% - 10% */
  left: 64.2%; /* 69.2% - 5% */
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #ff9933;
  transition: all 1s ease;
}

.container.canard .trapezePurple {
  position: absolute;
  top: 43.9%; /* 53.9% - 10% */
  right: 34.5%; /* 29.5% + 5% */
  width: 8.9%;
  height: 9%;
  background-color: #6666cc;
  transform: skew(359deg, 225deg);
  transition: all 1s ease;
}

.container.canard .triangleLime {
  position: absolute;
  top: 50%; /* 60% - 10% */
  left: 50.4%; /* 55.4% - 5% */
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 150px solid #99c339;
  transform: rotate(45deg);
  transition: all 1s ease;
}

/* Animations lors de l'activation */
.container.canard.active .squareRed {
  transform: rotate(180deg) scale(1.2);
}

.container.canard.active .triangleGreen {
  transform: rotate(270deg) scale(1.2);
}

.container.canard.active .triangleYellow {
  transform: rotate(180deg) scale(1.2);
}

.container.canard.active .triangleBlue {
  transform: rotate(-135deg) scale(1.2);
}

.container.canard.active .triangleOrange {
  transform: rotate(225deg) scale(1.2);
}

.container.canard.active .trapezePurple {
  transform: skewX(-45deg) rotate(45deg);
}

.container.canard.active .triangleLime {
  transform: rotate(225deg) scale(1.2);
}
