.container.canard {
  position: relative;
}

.container.canard .squareRed {
  transform: rotate(45deg);
  position: absolute;
  top: 41.2%;
  left: 63.3%;
  width: 100px;
  height: 100px;
  background-color: #ff6666;
  transition: all 1s ease;
}

.container.canard .triangleGreen {
  position: absolute;
  bottom: 17.7%;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid  #33cc66;
  transition: all 1s ease;
}

.container.canard .triangleYellow {
  transform: rotate(135deg);
  position: absolute;
  top: 45%;
  right: 42%;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-top: 200px solid #ffcc00;
  transition: all 1s ease;
}

.container.canard .triangleBlue {
  transform: rotate(225deg);
  position: absolute;
  bottom: 2.6%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #3399ff;
  transition: all 1s ease;
}

.container.canard .triangleOrange {
  transform: rotate(225deg);
  position: absolute;
  top: 50%;
  left: 69.2%;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #ff9933;
  transition: all 1s ease;
}

.container.canard .trapezePurple {
  position: absolute;
  top: 53.9%;
  right: 29.5%;
  width: 8.9%;
  height: 9%;
  background-color: #6666cc;
  transform: skew(359deg, 225deg);
  transition: all 1s ease;
}

.container.canard .triangleLime {
  position: absolute;
  top: 60%;
  left: 55.4%;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 150px solid #99c339;
  transform: rotate(45deg);
  transition: all 1s ease;
}

.container.canard.active .squareRed {
  transform: rotate(180deg) scale(1.2);
}

.container.canard.active .triangleGreen {
  transform: rotate(270deg) scale(1.2);
}

.container.canard.active .triangleYellow {
  transform: rotate(180deg) scale(1.2);
}

.container.canard.active .triangleBlue {
  transform: rotate(-135deg) scale(1.2);
}

.container.canard.active .triangleOrange {
  transform: rotate(225deg) scale(1.2);
}

.container.canard.active .trapezePurple {
  transform: skewX(-45deg) rotate(45deg);
}

.container.canard.active .triangleLime {
  transform: rotate(225deg) scale(1.2);
}
