.container.canard{
    
    .squareRed {
        transform: rotate(45deg);
        position: absolute;
        top: 41.2%;
        left: 63.3%;
        width: 100px;
        height: 100px;
        background-color: red;
    }
    
    .triangleGreen {
        position: absolute;
        bottom: 17.7%;
        left: 45%;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-bottom: 200px solid green;
    }
    
    .triangleYellow {
        transform: rotate(135deg);
        position: absolute;
        top: 45%;
        right: 42%;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-top: 200px solid yellow;
    }
    
    .triangleBlue {
        transform: rotate(225deg);
        position: absolute;
        bottom: 2.6%;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid blue;
    }
    
    .triangleOrange {
        transform: rotate(225deg);
        position: absolute;
        top: 50%;
        left: 69.2%;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid orange;
    }
    
    .trapezePurple {
        position: absolute;
        top: 53.9%;
        right: 29.5%;
        width: 8.9%;
        height: 9%;
        background-color: purple;
        transform: skewX(126deg);
        /* transform: rotate(32deg); */
        transform: skew(359deg, 225deg);
    }
    
    .triangleLime {
        position: absolute;
        top: 60%;
        left: 55.4%;
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-top: 150px solid lightgreen;
        transform: rotate(45deg);
    }
    
}