
/* ------------------Debut code Philippe------------------- */






































































































































































































/* ------------------Debut code Grégoire------------------- */







































































































































































































/* ------------------Debut code Térence------------------- */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    }
    
    nav{
    padding: 5%;
    flex-wrap: wrap;
    gap: 10px;
    display: flex;
    justify-content: center;
    }
    
    button{
    
        padding: 10px;
    }
    
    h1{
    
        text-align: center;
        padding: 20px;
        font-size: 100px;
    }
    
    
    
    /* Styles de base pour le conteneur */
    div.container {
        width: 1200px;
        height: auto;
        min-height: 800px;
        background-color: beige;
    }
    
    
    .container.carre {
        background-color: red; /* Fond rouge lorsque la classe 'carre' est active */
    }
    
    
    main{
    
        display: flex;
        justify-content: center;
    }
    
    .container.chat{
    
    background-color: purple;
    
    }
    
    .container.oie{
    
    background-color: aqua;
    
    }
    
    .container.canard{
    
        background-color: blue;
        
    }
    
    .container.coeur{
    
        background-color: rgb(255, 0, 153);
        
    }
    
    
    .container.tortue{
    
        background-color: green;
        
    }
    
    
    .container.bateau{
    
        background-color: rgb(0, 66, 128);
        
    }
    
    
    .container.mystere1{
    
        background-color: rgb(192, 123, 201);
        
    }
    
    .container.mystere2{
    
        background-color: rgb(205, 173, 12);
        
    }
    
    
    .container.mystere3{
    
        background-color: rgb(22, 146, 96);
        
    }
    