html{
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}


body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("img/two-green-leaves-four-white-stones-bamboo-mat.jpg");  
  background-size:cover;
  transition: background-image 0.5s ease; /* Transition sur l'image de fond */
}


body.darkmode{
  background-image: url("img/bamboo_night2.jpg");  
  background-size:cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: background-image 0.5s ease; /* Transition sur l'image de fond */

}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

nav {
  padding: 5%;
  gap: 10px;
  display: flex;
  justify-content: center;
}

button {
    padding: 10px;
    font-weight: bold;
    box-sizing: border-box;
    width: 70px;
    line-height: 2em;
    background: #ebedd7;
    border-radius: 10%;
    border: 1px solid #999;
    position: relative;
    box-shadow: 0.1em 0.1em 0px 0px #999, 0.2em 0.2em 0px 0px #963;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    color: #333;
    padding-left: 2px;
    text-shadow: -1px 0px 0px #000, 1px 1px 0px #fff;    
    transition: background-image 0.5s ease; /* Transition sur l'image de fond */
  }

  button.darkmode {

    background-color:transparent;      
    font-size: 0;
    border:none;  
    background-image:url("img/chinese-lantern.png");    
    background-size:cover;
    background-position:center;      
    width:80px;    
    height:100px;
    transition: background-image 0.3s ease transform 0.3s ease;
}

button.darkmode:hover{
  transform: scale(1.2);
}
body.darkmode button.darkmode{
  background-image:url("img/chinese-lantern-darkmod.png");
}



button:hover{

    transform: translateX(3px);
  }


h1 {
  text-align: center;
  padding: 20px;
  font-size: 100px;
  font-family: 'Noto Serif SC', serif;
  color: #D32F2F;
  letter-spacing: 5px;
  text-shadow: 4px 4px 0 #000, 6px 6px 0 #B71C1C;
  border-bottom: 5px solid #FFD700;
  margin-bottom: 20px;
  background-image: linear-gradient(45deg, #FFD700, #FFEB3B);
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

h1::before, h1::after {
  content: "";
  position: absolute;
  top: -48px;
  bottom: -30px;
  left: -50px;
  right: -50px;
  background-image: url('img/habillage.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 15px;
}

.darkmode h1::before, 
.darkmode h1::after {
    background-image: url('img/habillage_night.png');
    transition: background-image 0.5s ease;
}


h1::after {
  top: auto;
  bottom: -50px;
}

body.darkmode {
    background-color: #121212; 
    color: #ffffff;
    transition: background-image 0.5s ease;
  }
  
  body.darkmode h1 {
    color: #ffcc00;
    text-shadow: 4px 4px 0 #444, 6px 6px 0 #222;
    transition: background-image 0.5s ease;
  }

div.container {
  position: relative;
  width: 1200px;
  height: 800px;  
  background-image: url("img/plateau.png");
  background-size:cover;
  background-position: 0px -162px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease;
}

button.hint {
    bottom : 20px
}

main {
  display: flex;
  justify-content: center;
  transition: background-image 0.5s ease;
}


div.container.darkmode {
  transition: background-image 0.5s ease;
  background-image: url("img/plateau_night.png");
}

html.darkmode{
  transition: background-image 0.5s ease;
  box-shadow: inset 1px 1px 20px 9px rgb(0 0 0);
}