:root {
    --padding_top: 5px;
    --padding_bottom: 5px;
    --padding_left: 5px;
    --padding_right: 5px;
}

.container.mystere3 {
    position: relative;
}

.container.mystere3 .trapezePurple {
    transform: rotate(90deg) scaleY(-1);
    width: 90px;
    height: 70px;
    background-color: #6666cc;
    position: absolute;
    top: 53.5%; /* 50.5% + 3% */
    left: 61%; /* 57% + 4% */
    transform: skew(-180deg, 45deg);
    transition: all 1s ease;
}

.container.mystere3 .squareRed {
    position: absolute;
    top: 18%; /* 15% + 3% */
    left: 54%; /* 50% + 4% */
    width: 100px;
    height: 100px;
    background-color: #ff6666;
    transform: rotate(45deg);
    transition: all 1s ease;
}

.container.mystere3 .triangleGreen {
    position: absolute;
    bottom: 27.2%; /* 30.2% - 3% */
    left: 44.3%; /* 40.3% + 4% */
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-bottom: 200px solid #33cc66;
    transform: rotate(270deg);
    transition: all 1s ease;
}

.container.mystere3 .triangleYellow {
    position: absolute;
    top: 36%; /* 33% + 3% */
    right: 47%; /* 51% - 4% */
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-top: 200px solid #ffcc00;
    transform: rotate(180deg);
    transition: all 1s ease;
}

.container.mystere3 .triangleBlue {
    position: absolute;
    bottom: 51%; /* 54% - 3% */
    left: 28%; /* 24% + 4% */
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-bottom: 100px solid #3399ff;
    transform: rotate(0deg);
    transition: all 1s ease;
}

.container.mystere3 .triangleOrange {
    position: absolute;
    top: 61%; /* 58% + 3% */
    left: 36.5%; /* 32.5% + 4% */
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-bottom: 100px solid #ff9933;
    transform: rotate(180deg);
    transition: all 1s ease;
}

.container.mystere3 .triangleLime {
    position: absolute;
    top: 29%; /* 26% + 3% */
    left: 48.5%; /* 44.5% + 4% */
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-top: 150px solid #99c339;
    transform: rotate(90deg);
    transition: all 1s ease;
}

.container.mystere3.active .squareRed {
    transform: rotate(180deg) scale(1.2);
}

.container.mystere3.active .triangleGreen {
    transform: rotate(270deg) scale(1.2);
}

.container.mystere3.active .triangleYellow {
    transform: rotate(180deg) scale(1.2);
}

.container.mystere3.active .triangleBlue {
    transform: rotate(-135deg) scale(1.2);
}

.container.mystere3.active .triangleOrange {
    transform: rotate(225deg) scale(1.2);
}

.container.mystere3.active .trapezePurple {
    transform: skewX(-45deg) rotate(45deg);
}

.container.mystere3.active .triangleLime {
    transform: rotate(225deg) scale(1.2);
}
