.container.carre .squareRed {
  position: absolute;
  top: 355px; /* 275px + 80px */
  left: 487px; /* 477px + 10px */
  width: 100px;
  height: 100px;
  background-color: #ff6666;
  transform: rotate(45deg);
  transition: all 1s ease;
}

.container.carre .triangleGreen {
  position: absolute;
  bottom: 153px; /* 233px - 80px */
  left: 508px; /* 498px + 10px */
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #33cc66;
  transform: rotate(225deg);
  transition: all 1s ease;
}

.container.carre .triangleYellow {
  position: absolute;
  top: 305px; /* 225px + 80px */
  right: 351px; /* 361px - 10px */
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-top: 200px solid #ffcc00;
  transform: rotate(225deg);
  transition: all 1s ease;
}

.container.carre .triangleBlue {
  position: absolute;
  top: 426px; /* 346px + 80px */
  left: 416px; /* 406px + 10px */
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #3399ff;
  transform: rotate(-45deg);
  transition: all 1s ease;
}

.container.carre .triangleOrange {
  position: absolute;
  top: 283px; /* 203px + 80px */
  left: 558px; /* 548px + 10px */
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #ff9933;
  transform: rotate(45deg);
  transition: all 1s ease;
}

.container.carre .trapezePurple {
  position: absolute;
  top: 224px; /* 144px + 80px */
  left: 609px; /* 599px + 10px */
  width: 75px;
  height: 141px;
  background-color: #6666cc;
  transform: skewX(-45deg) rotate(90deg);
  transition: all 1s ease;
}

.container.carre .triangleLime {
  position: absolute;
  top: 256px; /* 176px + 80px */
  left: 464px; /* 454px + 10px */
  bottom: 120px; /* 200px - 80px */
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 150px solid #99c339;
  transform: rotate(-90deg);
  transition: all 1s ease;
}

.container.carre.active .squareRed {
  transform: rotate(180deg) scale(1.2);
}

.container.carre.active .triangleGreen {
  transform: rotate(270deg) scale(1.2);
}

.container.carre.active .triangleYellow {
  transform: rotate(180deg) scale(1.2);
}

.container.carre.active .triangleBlue {
  transform: rotate(-135deg) scale(1.2);
}

.container.carre.active .triangleOrange {
  transform: rotate(225deg) scale(1.2)
}