.container.oie {
  position: relative;
}

.container.oie .squareRed {
  transform: rotate(4deg);
  position: absolute;
  top: 41.2%;
  left: 56.3%; /* 53.3% + 3% */
  width: 100px;
  height: 100px;
  background-color: #ff6666;
  transition: all 1s ease;
}

.container.oie .triangleGreen {
  transform: rotate(138deg);
  position: absolute;
  bottom: 32.7%;
  left: 48%; /* 45% + 3% */
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid #33cc66;
  transition: all 1s ease;
}

.container.oie .triangleYellow {
  transform: rotate(185deg);
  position: absolute;
  top: 46%;
  right: 43.6%; /* 46.6% - 3% */
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-top: 200px solid #ffcc00;
  transition: all 1s ease;
}

.container.oie .triangleBlue {
  transform: rotate(180deg);
  position: absolute;
  bottom: 59.6%;
  left: 36.3%; /* 33.3% + 3% */
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #3399ff;
  transition: all 1s ease;
}

.container.oie .triangleOrange {
  transform: rotate(135deg);
  position: absolute;
  top: 33%;
  left: 32.2%; /* 29.2% + 3% */
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid #ff9933;
  transition: all 1s ease;
}

.container.oie .trapezePurple {
  position: absolute;
  top: 36.5%;
  right: 53.4%; /* 56.4% - 3% */
  width: 3.9%;
  height: 8%;
  background-color: #6666cc;
  transform: skew(39deg, 289deg);
  transition: all 1s ease;
}

.container.oie .triangleLime {
  position: absolute;
  top: 54%;
  left: 56%; /* 53% + 3% */
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 150px solid #99c339;
  transform: rotate(273deg);
  transition: all 1s ease;
}

.container.oie.active .squareRed {
  transform: rotate(180deg) scale(1.2);
}

.container.oie.active .triangleGreen {
  transform: rotate(270deg) scale(1.2);
}

.container.oie.active .triangleYellow {
  transform: rotate(180deg) scale(1.2);
}

.container.oie.active .triangleBlue {
  transform: rotate(-135deg) scale(1.2);
}

.container.oie.active .triangleOrange {
  transform: rotate(225deg) scale(1.2);
}

.container.oie.active .trapezePurple {
  transform: skewX(-45deg) rotate(45deg);
}

.container.oie.active .triangleLime {
  transform: rotate(225deg) scale(1.2);
}
