:root {
    --padding_top: 5px;
    --padding_bottom: 5px;
    --padding_left: 5px;
    --padding_right: 5px;
}

.container.tortue {

    .triangleYellow {
        transform: rotate(135deg);
    }

    .triangleBlue {
        transform: rotate(90deg);
    }

    .triangleOrange {
        transform: rotate(90deg);
    }  

    .squareRed {
        position: absolute;
        top: 150px;
        left: 150px;
        width: 100px;
        height: 100px;
        background-color: red;
    }

    .triangleGreen {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-bottom: 200px solid green;
    }

    .triangleYellow {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-top: 200px solid yellow;
    }

    .triangleBlue {
        position: absolute;
        bottom: 0;
        left: 200px;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid blue;
    }

    .triangleOrange {
        position: absolute;
        top: 200px;
        left: 200px;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid orange;
    }

    .trapezePurple {
        position: absolute;
        top: 150px;
        right: 150px;
        width: 100px;
        height: 100px;
        background-color: purple;
        transform: skewX(-45deg);
    }

    .triangleLime {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-top: 100px solid lightgreen;
    }
}