:root {
    --padding_top: 5px;
    --padding_bottom: 5px;
    --padding_left: 5px;
    --padding_right: 5px;
}

.container.tortue {
    .trapezePurple {
        transform: rotate(90deg);
        transform: scaleY(-1);
        width: 140px;
        height: 70px;
        background-color: purple;
        position: absolute;
        top: 49.5%;
        left: 27.4%;
        transform: skew(-45deg);
    }
    .squareRed {
        position: absolute;
        top: 24.5%;
        left: 33.5%;
        width: 100px;
        height: 100px;
        background-color: red;
        transform: rotate(0deg);
    }

    .triangleGreen {
        position: absolute;
        bottom: 38%;
        left:42%;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-bottom: 200px solid green;
        transform: rotate(270deg);
    }

    .triangleYellow {
        position: absolute;
        top: 37%;
        right: 41.5%;
        width: 0;
        height: 0;
        border-left: 200px solid transparent;
        border-top: 200px solid yellow;
        transform: rotate(180deg);
    }

    .triangleBlue {
        position: absolute;
        bottom: 38%;
        left: 58.5%;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid blue;
        transform: rotate(270deg);
    }

    .triangleOrange {
        position: absolute;
        top: 62%;
        left: 50.5%;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-bottom: 100px solid orange;
        transform: rotate(90deg);
    }

    .triangleLime {
        position: absolute;
        top: 18.5%;
        left: 58.5%;
        width: 0;
        height: 0;
        border-left: 150px solid transparent;
        border-top: 150px solid lightgreen;
        transform: rotate(270deg);
    }
}