:root {
  --padding_top: 5px;
  --padding_bottom: 5px;
  --padding_left: 5px;
  --padding_right: 5px;
}

.container.tortue {
  position: relative;
}

.container.tortue .trapezePurple {
  transform: rotate(90deg) scaleY(-1);
  width: 140px;
  height: 70px;
  background-color: purple;
  position: absolute;
  top: 49.5%;
  left: 27.4%;
  transform: skew(-45deg);
  transition: all 1s ease;
}

.container.tortue .squareRed {
  position: absolute;
  top: 24.5%;
  left: 33.5%;
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(0deg);
  transition: all 1s ease;
}

.container.tortue .triangleGreen {
  position: absolute;
  bottom: 38%;
  left: 42%;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-bottom: 200px solid green;
  transform: rotate(270deg);
  transition: all 1s ease;
}

.container.tortue .triangleYellow {
  position: absolute;
  top: 37%;
  right: 41.5%;
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-top: 200px solid yellow;
  transform: rotate(180deg);
  transition: all 1s ease;
}

.container.tortue .triangleBlue {
  position: absolute;
  bottom: 38%;
  left: 58.5%;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid blue;
  transform: rotate(270deg);
  transition: all 1s ease;
}

.container.tortue .triangleOrange {
  position: absolute;
  top: 62%;
  left: 50.5%;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-bottom: 100px solid orange;
  transform: rotate(90deg);
  transition: all 1s ease;
}

.container.tortue .triangleLime {
  position: absolute;
  top: 18.5%;
  left: 58.5%;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-top: 150px solid lightgreen;
  transform: rotate(270deg);
  transition: all 1s ease;
}

.container.tortue.active .squareRed {
  transform: rotate(180deg) scale(1.2);
}

.container.tortue.active .triangleGreen {
  transform: rotate(270deg) scale(1.2);
}

.container.tortue.active .triangleYellow {
  transform: rotate(180deg) scale(1.2);
}

.container.tortue.active .triangleBlue {
  transform: rotate(-135deg) scale(1.2);
}

.container.tortue.active .triangleOrange {
  transform: rotate(225deg) scale(1.2);
}

.container.tortue.active .trapezePurple {
  transform: skewX(-45deg) rotate(45deg);
}

.container.tortue.active .triangleLime {
  transform: rotate(225deg) scale(1.2);
}
